@import './theme.module.scss';

.main {
  box-shadow: rgba(100, 116, 139, 0.12) 0 1px 4px;
  padding: 10px 15px;
}

.icon {
  color: #6b7280;
}

.menuIcon {
  @include deviceUp($lg) {
    display: none !important;
  }
}